<div class="container">
    <h2>Portfolio</h2>
    <div class="cards_row">
        <figure>
            <img src="./img/bike.jpg" alt="image of cycle" />
            <figcaption>Bicycles and Bicycling</figcaption>
        </figure>

        <figure>
            <img src="./img/oranges.jpg" alt="Oranges" />
            <figcaption>Fruits, vegetables, and health</figcaption>
        </figure>

        <figure>
            <img src="./img/coins.jpg" alt="Money" />
            <figcaption>Investment</figcaption>
        </figure>

        <figure>
            <img src="./img/world.jpg" alt="World Map" />
            <figcaption>Global Issues</figcaption>
        </figure>

        <figure>
            <img src="./img/swan.jpg" alt="swan in water" />
            <figcaption>A Swan's Secret</figcaption>
        </figure>

        <figure>
            <img src="./img/penguins.jpg" alt="Group of Penguins" />
            <figcaption>Facts on penguins</figcaption>
        </figure>

    </div>